/* main */

* { 
	padding: 0; 
	margin: 0; 
}

body {
	background-color: #EEEEEE;
	background-image: url(/images/background.png);
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 10px;
	line-height: 18px;
}

a {
	text-decoration:none; 
	border:none;
}

img {
	text-decoration:none; 
	border:none;
}

p {
	padding: 0 0 15px 0;
    padding-left: 10px;
}

ul {
	margin-left: 20px;
	padding-right: 10px;
}

h1 {
	margin: 15px 0 0 0;
}

/* wrapper */

#wrappertop { 
	margin: 3em auto 0em auto;
	width: 768px;
	background: url(/images/wrappertop.png) no-repeat 0% 0%;
	height: 15px;
}

#wrapperbody {
	color: #000;
	margin: 0em auto 0em auto;
	width: 768px;
	background: #FFFFFF;
}

#wrapperbottom {
	margin: 0em auto 3em auto;
	width: 768px;
	background: url(/images/wrapperbottom.png) no-repeat 0% 0%;
	height:15px;
}

/* header */

#header {
	color: #333;
	width: 736px;
	margin: 0 15px 0 15px;
}

#logo {
}

/* blue pill */

#bluepill {
	width: 736px;
	float: left;
	margin: 0 15px 0 15px;
	padding: 0pt 0pt 15px;
}

#bluepill img {
	display: block;
}

#bluepill-body {
	background: transparent url(/images/bluepill-middle.png) repeat scroll 0% 50%;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 20px;
	padding: 0 15px 0 15px;
	text-align: center;
}

/* body */

#body {
	margin:0 15px 0 15px;
}

/* left column */

#leftcolumn { 
	color: #333;
	width: 349px;
	float: left;
	margin: 0 0 0 15px;
	background: url(/images/sub-pill-body.png);
}

#leftcolumn img {
	display: block;
	background:#FFFFFF none repeat scroll 0%;
}

#leftcolumn ul {
	margin: 0 0 0 10px;
	list-style-position:outside;
	list-style-type: none;
}

#leftcolumn li {
	background: url(/images/bullet.png) left top no-repeat;
	padding:0pt 10pt 0px 20px;
}

/* right column */

#rightcolumn { 
	float: right;
	color: #333;
	width: 349px;
	display: inline;
	margin: 0 15px 0 0;
	background: url(/images/sub-pill-body.png);
}

#rightcolumn img {
	display: block;
	background:#FFFFFF none repeat scroll 0%;
}

#rightcolumn iframe {
	padding: 0 15px 0 15px;
}

/* footer */

#footer { 
	width: 736px;
	clear: both;
	color: #333;
	margin: 0 15px 0 15px;
	padding: 10px 0 0 0;
	text-align: center;
}

